@import "../node_modules/bootstrap/scss/bootstrap";
/* ---------- RESET ---------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ---------- BODY ---------- */
body {
  font-family: 'Inter', sans-serif; /* or your preferred font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ---------- IMAGE FIX ---------- */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.carousel-item{
  min-height: 650px;
  height: 650px;
}


.title{
  font-size: 2rem;
  position: relative;
  span{
    font-size: 3rem;
  }
  &::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 120px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #0cacee;
  }
  &::after{
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #0cacee;
    box-shadow: 0 0 0 5px #fff;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.about-desc{
  max-width: 800px;
  margin: auto;
}
.about-link{
  text-decoration: none;
}

.newsTitle{
  background-color: #0580c6;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  &::after{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #0580c6;
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 100%;
  }
}
.newsBody{
  padding: 30px 15px;
}

.testimonalSlider{
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, .1);
  position: relative;
  display: block;
  padding: 3rem;
  .carousel-item {
    min-height: auto;
    height: auto;
  }
  .carousel-caption {
    position: relative;
    right: 0;
    bottom: 1.25rem;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
        margin-top: 1.5rem;
  }
  .carousel-control-prev {
    right: 25px;
    left: auto;
}
}
.car-img{
      width: 70px;
    height: 70px;
}
.carousel-item{
  h5{
    color: #0cacee;
    font-size: 1rem;
  }
  p{
    color: #777;
  }
}
.carousel-control-prev, .carousel-control-next{
  color: #18ba60 !important;
  opacity: 1;
      width: 20px;
    height: 20px;
}
.carousel-control-prev:hover, .carousel-control-prev:focus, .carousel-control-next:hover, .carousel-control-next:focus{
  opacity: 1;
}